$topbar-height: 50px;

$topbar-background-color: #dc3545;
$topbar-border-color: #a10413;

$body-background: #fff3f4;

$color-grey-3: rgb(94, 94, 94);
$color-grey-4: rgb(57, 57, 57);
$color-grey-5: rgb(43, 42, 42);
$color-grey-6: rgb(35, 34, 34);